    
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</main>
<footer>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-right w3-hide-small">
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-blackteal w3-padding-64 w3-hover-opacity-off">
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/jahir.noriegavazquez.18?ref=bookmarks"><i class="fa fa-facebook-official w3-hover-opacity"></a></i>
    <a href="https://www.instagram.com/jahir_noriega/?hl=es-la"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/NoriegaJahir"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  </div>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</footer>
</html>