h1{
    background-color: teal;
    color: white;
    font-size: xx-large;
    padding: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    text-align: center;
}
body{
    background-image: url(/images/fondo.jpg);
}

