<!DOCTYPE html>
<html>
<title>INICIO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style/style.css">
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>JN</b> Jahir Noriega</a>

    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Base de Datos</a>
      <a href="#contact" class="w3-bar-item w3-button">Mi Informacion</a>
    </div>
  </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../images/me.jpg" alt="Pag WEB" width="1600" height="400">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>JN</b></span> <span class="w3-hide-small w3-text-light-grey">Jahir Nriega</span></h1>
  </div>
</header>

<div class="w3-content w3-padding" style="max-width:1564px">

  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Base de Datos</h3>
  </div>

    <a href="/"><img src="../images/database.png" width="100%"></a>


  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Mi Informacion</h3>
    <div class="info">
    <img src="../images/other.jpg" alt="YO" width="440" height="600">
    <center><h3>Jahir Ricardo Noriega Vazquez</h3></center> 
    <p>GRUPO: F</p>
    <p>GRADO: 4</p>    
    <p>DOCENTE: M.S.I. Raúl Alberto Toledo Piñón</p> 
    <p>MATRICULA: 18308051220339</p> 
    <p>ESPECIALIDAD: Programacion</p>   
    <p>GENERACION: 2018 - 2021</p> 
    <p>NUMERO: 614-218-46-18</p>     
    <div class="boton1">
        <a href="https://www.facebook.com/jahir.noriegavazquez.18?ref=bookmarks"><img src="../images/face.png" alt="Mi Facebook" width="200" height="150"></a>
            <div class="boton2">
                <a href="https://www.instagram.com/jahir_noriega/?hl=es-la"><img src="../images/insta.png" alt="Mi Instagram" width="210" height="155"></a>
                    <div class="boton3">
                        <a href="https://twitter.com/NoriegaJahir"><img src="../images/twita.png" alt="Mi Twitter" width="210" height="160"></a>
            </div>
        </div>
    </div>
</div>
    
  </div>

<footer class="w3-center w3-black w3-padding-16">
  <p>Created by <a href="https://www.facebook.com/jahir.noriegavazquez.18?ref=bookmarks" title="JN" target="_blank" class="w3-hover-text-green">Jahir Noriega Vazquez</a></p>
</footer>

</body>
</html>
